/* E-Lift custom theme */

.root {
    /*  base color for objects */
    -fx-base: #3D4956;
    -fx-background : -fx-base;

    -fx-text-inner-color: white;
    -fx-text-background-color: white;

    -fx-selection-bar-non-focused: derive(lightgray, -20%);

    -fx-color: -fx-base;
}

/***************************************************
 *                    Header                       *
 ***************************************************/

.hero-header {
    -fx-background-color: linear-gradient(to bottom, #fdfbfb, #ebedee);
}

.hero-header > .label {
    -fx-font-size: 1.75em;
    -fx-font-weight: bold;
    -fx-text-fill: derive(darkgray, -50%);
}

.title {
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}

.info-pane .text-input {
    -fx-border-color: derive(darkgray, -20%);
}

/***************************************************
 *                   Controls                      *
 ***************************************************/
.text-input, .combo-box {
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0.25em;
    -fx-border-color: -fx-accent;
    -fx-background-color: derive(-fx-background, 20%);
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-10%);
}

.text-input:focused, .combo-box:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: orange;
    -fx-background-color: derive(-fx-background, 40%);
}

.menu-button {
    -fx-background-color: -fx-background;
}

.menu-button:focused {
    -fx-background-color: derive(-fx-background, 20%);
}

 /* DatePicker
  * **************** */
.date-picker-popup {
    /* reset to modena theme */
    -fx-base: #ececec;

    -fx-text-inner-color: black;
    -fx-text-background-color: black;
}

